.discountPage {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  margin: -1px;
}

.firstLine,
.secondLine {
  padding-top: 20px;
  padding-bottom: 25px;
  max-width: 100%;
}
.list {
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.text {
  font-family: var(--main-font-family);
  font-weight: 500;
  color: var(--discont-color);
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
}
span {
  font-family: var(--second-font-family);
  font-style: italic;
}

.firstLine {
  background-color: var(--orange);
  transform: rotate(2deg);
}

.secondLine {
  background-color: var(--main-background);
  transform: rotate(-4deg);
  margin-top: -32px;
}

@media screen and (min-width: 768px) {
  .discountPage {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .text {
    font-size: 28px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .discountPage {
    padding-top: 124px;
    padding-bottom: 147px;
  }

  .secondLine {
    transform: rotate(-1deg);
  }

  .text {
    font-size: 40px;
    line-height: 1.2;
  }
}
