.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.04em;
}

.titleChek {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
  margin-bottom: 2px;
}

.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.descrBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .img {
    width: 172px;
    height: 142px;
  }

  .descrBox{
    flex-direction: column;
    justify-content: center;
  }

  .titleChek{
    flex-direction: column-reverse;
    align-items: start;
    gap: 6px;
  }
}

@media screen and (min-width: 1280px) {
  .img {
    width: 242px;
    height: 200px;
  }
  .title {
    font-size: 24px;
    line-height: 1.17;
  }

  .titleChek{
    
  }
}
