.form {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.field,
.fieldText {
  border: 1px solid rgba(20, 20, 20, 0.3);
  border-radius: 100px;
  width: 295px;
  height: 46px;
  padding: 14px 24px;
}

.fieldText {
  height: 132px;
  border-radius: 20px;
  resize: none;
}

.field::placeholder,
.fieldText::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  color: rgba(20, 20, 20, 0.5);
}

.submitBtn {
  background-color: var(--orange);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.04em;
  text-transform: capitalize;
  color: var(--white);
  border-radius: 100px;
  padding: 12px 24px;
  width: 92px;
  height: 42px;
  &:hover{
    background-color: var(--main-background);
  }
}

.modalImage {
  display: none;
}

.errMessage {
  color: var(--red);
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .field,
  .fieldText {
    width: 360px;
  }

  .submitBtn {
    width: 114px;
  }

  .modalImage {
    display: block;
    position: absolute;
    bottom: -49px;
    right: -178px;
    overflow: hidden;
  }
  .formContainer {
    position: relative;
  }
}

@media screen and (min-width: 1280px) {
  .formContainer {
  }
  .modalImage {
    right: -19px;
  }
}
