.socList {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }

}
.socLink {
  border: 1px solid var(--main-text-color);
  border-radius: 10px;
  padding: 8px;
  width: 40px;
  height: 40px;
  display: block;
}

.socLink:hover  {
  border-color: var(--main-background);
}

.socLink:hover .iconSocial {
  fill: var(--main-background);
}
