.navMenu{
  margin-bottom: 18px;
}
.navStyles {
  display: none;
}
.link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.04em;
  text-align: center;
  padding: 2px 2px
}

.listMenu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  padding-top: 124px;
}

.linkMenu {
  color: var(--white);
}

.listFooter {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.marginFooter{
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .listHeader {
    display: flex;
    flex-direction: row;
    gap: 14px;
  }
  .navStyles{
    display: block;
  }
}

@media screen and (min-width: 1280px) {
  .listHeader {
    gap: 20px;
  }
}
