.container {
  min-width: 320px;
  max-width: 375px;
  padding: 0 20px;
  margin: 0 auto;
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}


@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .footerContainer{
    flex-direction: row;
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
    padding: 0 32px;
  }

  .heroContainer{
    display: flex;
    flex-direction: row;
    gap: 27px;
  }
}
