.address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  font-family: var(--main-font-family);
  font-style: normal;
}

.img {
  border-radius: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.footerPage {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--secondary-background);
}

.footerContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}
